:root{
    --mainColor:#152020;
    --secondaryColor:#192734;
    
    --borderColor:#164D56;
    
    --mainText:#fff;
    --secondaryText:#eeeeee;
    --themeDotBorder:#fff;
    --previewBg:rgb(25,39,52,0.8);
    --preview-Shadow:#111921;
    --menubuttontext:#fff;
    --buttonColor:#17a2b8;
} 
